.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 200px;
}
.navbtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    
}

.btn{
    background-color: #A53DFF;
    color: white;
    height: 30px;
    width: 80px;
    margin: auto;
    border-radius: 5px;
}

.btnn{
    background-color: #A53DFF;
    color: white;
    
}
    
.details{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px;
    width: 500px;
    gap: 5px;
    padding-top: 50px;
}
.details div{
    border-radius: 5px;
    background-color: #f6ebfe;
    text-align: center;
    height: 90px;
    width: 300px;
}
.bio{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-right: 15px ;
    padding-left: 15px;
}
.p1{
    font-size: 15px;
    text-align: center;
}
.h3{
    font: 60px;
}
.intro{
    padding-top: 200px;
    padding-left: 100px;
}

.aboutme{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 900px;
    padding: 50px;
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.btn2{background-color: white;
    color: #A53DFF;

}
.workprp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
}
.divbox{
   height: 200px;
    width: 200px;
    padding-right:50px ;
    padding-left: 50px;
    margin: 50px auto;;
    justify-content: space-between;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    align-items: center;
}




/* Start Portofolio section  */
 .portfolio{
   justify-content: center;
 }
 .portfolio .portfolio details{
    text-align: center;
 }
.Service .div-top{
    display: flex;
}
.Service .bottom{
    display: flex;
}


/* end Portofolio section  */

/* <!-- start Project idea --> */
.Project{
background-color: #132238;
text-align: center;
padding: 50px;

}
.Project h1{
    color: white;
}
.Project p{
    color: #A5ACB5;
}

.Project .btn{
    background-color: #A53DFF;
    color: #f6ebfe;
}

/* <!-- end Project idea --> */

/* <!-- Start Blog section --> */
.blogpost{
    display: flex;
}
.Blog{
    text-align: center;
}
.whatido{
    display: flex;
    justify-content: space-between;
}


/* <!-- End Blog section --> */

/* <!-- Start Self Service --> */

.ux{
    background: #f6ebfe;
    width: 500px;
}

/* <!-- End Self Service --> */
 