.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 200px;
}
.navbtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    
}

.btn{
    background-color: purple;
    color: white;
    height: 30px;
    width: 80px;
    margin: auto;
    border-radius: 5px;
}